<div class="center">
    <div class="well top-spacing shadow">
        <h2>Message sent!</h2>
        <p>Check Status here, refer to CRM for username and password:</p>
        <a href=https://messagingapi.sinch.com/v1/message/status/<%=@rsp['messageId']%>>Status</a>
    </div>
</div>