<div class="container top-spacing">
    <div class="center well shadow">
        <div class="jumbotron">
            <h2 class="text-center">Edit Pharmacy Information</h2>
        </div>
        <%= render "form" %>
    </div>
</div>