<div class="container top-spacing">
    <div class="center well">
        <div class="jumbotron">
            <h2>Edit Pharmacy Information</h2>
        </div>
        <%= render "form" %>
    </div>
</div>