<div class="container top-spacing">
    <div class="center well shadow form-container">
        <div class="jumbotron">
            <h2 class="text-center">Create New Pharmacy</h2>
        </div>
        <%= render "form" %>
    </div>
</div>