/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 */
 
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-sprockets';
@import 'bootstrap-datetimepicker';

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
}
h2 {
    font-size: 3em;
}
.btn {
    font-size: 16px !important;
}

.shadow {
    -webkit-box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 11px 9px 0px rgba(0, 0, 0, 0.2);
}
.alert {
    margin-top: 10px;
}

.search-form {
    margin-right: 2px;
    margin-bottom: 20px;
}

.center {
    width: 55%;
    margin: auto;
}

.top-spacing {
    margin-top: 30px;
}

body {
  font-family: Roboto;
  background-color: lightslategrey;
  //background-color: navy;
}

.field-text {
    font-size: 15;
    font-style: italic;
}
.font-20 {
    font-size: 20px;
}

.font-18 {
    font-size: 18px;
}


@media screen and (max-width: 1100px) {
    .font-20 {
        font-size: 16px;
    }
}

@media screen and (max-width: 920px) {
    .font-20 {
        font-size: 12px;
    }
}